# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment and configuration files
.env
.env.local
.env.*.local

# Laravel specific ignores
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/framework/
/storage/logs/
/bootstrap/cache/

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore composer dependencies
composer.lock

# Ignore database files
homestead.json
homestead.yaml
.phpunit.result.cache

# Ignore logs and debugging files
*.log
*.sql
*.sqlite

# Ignore compiled assets
/public/hot
/public/storage
/public/mix-manifest.json

# Ignore npm debug logs
npm-debug.log*
yarn-error.log*

# Ignore deployment files
.deploy/
.phpstorm.meta.php